1
--
Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.


text = "The goal is to turn data into information, and information into insight."

In [2]:
text = "The goal is to turn data into information, and information into insight."
upper_text=text.upper()
upper_text

'THE GOAL IS TO TURN DATA INTO INFORMATION, AND INFORMATION INTO INSIGHT.'

In [4]:
replace_text=upper_text.replace(","," ").replace("."," ")
replace_text

'THE GOAL IS TO TURN DATA INTO INFORMATION  AND INFORMATION INTO INSIGHT '

In [5]:
split_text=replace_text.split()
split_text

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

2
--
Verilen liste için aşağıdaki görevleri yapınız.

lst = ["D","A","T","A","S","C","I","E","N","C","E"]

**Adım 1** = Listenin eleman sayısına bakınız.

**Adım 2** = Sıfırıncı ve onuncu indeksteki elemanları çağırınz.

**Adım 3** = Verilen liste üzerinden ["D","A","T","A"] listesi oluşturunuz.

**Adım 4** = Sekizinci indeksteki elemanı siliniz.

**Adım 5** = Yeni bir eleman ekleyiniz.

**Adım 6** = Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [6]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [39]:
# Adım 1

eleman_sayısı=len(lst)
eleman_sayısı

5

In [8]:
# Adım 2

print(f"Sıfırıncı eleman = {lst[0]} \nOnunucu Elaman = {lst[10]}")

Sıfırıncı eleman = D
Onunucu Elaman = E

In [10]:
# Adım 3

data_lst=lst[:4]
data_lst

['D', 'A', 'T', 'A']

In [13]:
# Adım 4

pop_index = lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [14]:
pop_index

'N'

In [15]:
# Adım 5

new_member=lst.append("101")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', '101']

In [16]:
# Adım 6

inster_lst = lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', '101']

3
--
``
dict = {'Christian': ["America",18],
        
        'Daisy':["England",12],
        
        'Antonio':["Spain",22],
        
        'Dante':["Italy",25]}
```

**Adım 1**: Key değerlerine erişiniz.

**Adım 2**: Value'lara erişiniz.

**Adım 3**: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

**Adım 4**: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

**Adım 5**: Antonio'yu dictionary'den siliniz.

In [18]:
dict = {'Christian': ["America",18],
        
        'Daisy':["England",12],
        
        'Antonio':["Spain",22],
        
        'Dante':["Italy",25]}

In [19]:
# Adım 1

dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [21]:
# Adım 2

dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [27]:
# Adım 3

dict["Daisy"][1]=13
dict

# veya

dict.update({"Daisy":["England",13]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [28]:
# Adım 4

dict.update({"Ahmet":["Turkey",24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [29]:
# Adım 5

dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

4
--
Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.

In [30]:
lst=[2,13,18,93,22]

def func(list):
    single_lst=[]
    double_lst=[]
    for a in list:
        if a % 2 == 0:
            double_lst.append(a)
        else:
            single_lst.append(a)
    return print(f"Tek sayılar = {single_lst} \nÇift Sayılar = {double_lst}")


func(lst)

Tek sayılar = [13, 93]
Çift Sayılar = [2, 18, 22]

In [32]:
# veya

lst=[2,13,18,93,22]

def func(list):
    single_lst=[]
    double_lst=[]
    for a in list:
        if a % 2 == 0:
            double_lst.append(a)
        else:
            single_lst.append(a)
    return single_lst, double_lst

tek,cift = func(lst)
print("Tek sayıları = ", tek, "\nÇift Sayılar =",cift)

Tek sayıları =  [13, 93]
Çift Sayılar = [2, 18, 22]

5
--

Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.

Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.

Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [34]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

for i,x in enumerate(ogrenciler):
    
    if i < 3:
        i += 1
        print(f"Mühendislik Fakültesi {i}. = {x}")
    else:
        i -= 2
        print(f"Tıp Fakültesi {i}. = {x}")

Mühendislik Fakültesi 1. = Ali
Mühendislik Fakültesi 2. = Veli
Mühendislik Fakültesi 3. = Ayşe
Tıp Fakültesi 1. = Talat
Tıp Fakültesi 2. = Zeynep
Tıp Fakültesi 3. = Ece

6
--
Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [35]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [36]:
for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
    print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir

7
--

Aşağıda 2 adet set verilmiştir.

Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [37]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [38]:
def kume(set1, set2):
    
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))
        
kume(kume1, kume2)

{'miuul', 'qcut', 'function', 'lambda'}